.page__title {
  text-align: center;
}

.page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.page-not-found__title {
  font-size: 40px;
  margin-bottom: 20px;
  font-style: oblique;
}

.not-found__button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 19px;
  line-height: 1.211;
  font-weight: 500;
  font-style: italic;
  color: #fff;
  background: #4481c3;
  border: 2px solid #4481c3;
  color: white;
  transform: skew(-15deg);
}

.not-found__button:hover {
  background: white;
  transition: all 0.5s;
  color: #4481c3;
}
